<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.jingbin.byrecyclerview">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="me.jingbin.byrecyclerview.MainActivity"
            android:exported="true"
            android:theme="@style/NoTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.jingbin.byrecyclerview.activity.SimpleActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.RefreshActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.StateViewActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.HeaderFooterActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.ListViewActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.AppBarLayoutActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.DataBindingActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.CustomLayoutActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.DividerGridActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.ItemClickActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.StickyItemActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.MultiTypeItemActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.DividerLinearActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.CustomHorizontalLayoutActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.SkeletonListActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.SkeletonGridActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.SkeletonHeaderViewActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.SkeletonViewActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.SecondTypeActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.FlexBoxActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.StickyRvActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.HorizontalGridDividerActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.ItemPayloadActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.LoadMoreActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.StickyRvCoordinatorActivity" />
        <activity android:name="me.jingbin.byrecyclerview.activity.StickyRvCoordinatorOriginalActivity" />
    </application>

</manifest>