<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.jingbin.byrecyclerview">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:theme="@style/NoTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SimpleActivity" />
        <activity android:name=".activity.RefreshActivity" />
        <activity android:name=".activity.StateViewActivity" />
        <activity android:name=".activity.HeaderFooterActivity" />
        <activity android:name=".activity.ListViewActivity" />
        <activity android:name=".activity.AppBarLayoutActivity" />
        <activity android:name=".activity.DataBindingActivity" />
        <activity android:name=".activity.CustomLayoutActivity" />
        <activity android:name=".activity.DividerGridActivity" />
        <activity android:name=".activity.ItemClickActivity" />
        <activity android:name=".activity.StickyItemActivity" />
        <activity android:name=".activity.MultiTypeItemActivity" />
        <activity android:name=".activity.DividerLinearActivity" />
        <activity android:name=".activity.CustomHorizontalLayoutActivity" />
        <activity android:name=".activity.SkeletonListActivity" />
        <activity android:name=".activity.SkeletonGridActivity" />
        <activity android:name=".activity.SkeletonHeaderViewActivity" />
        <activity android:name=".activity.SkeletonViewActivity" />
        <activity android:name=".activity.SecondTypeActivity" />
        <activity android:name=".activity.FlexBoxActivity" />
        <activity android:name=".activity.StickyRvActivity" />
        <activity android:name=".activity.HorizontalGridDividerActivity" />
        <activity android:name=".activity.ItemPayloadActivity" />
        <activity android:name=".activity.LoadMoreActivity" />
        <activity android:name=".activity.StickyRvCoordinatorActivity" />
    </application>

</manifest>